<!DOCTYPE html>
<html>
    <head>
        <title>Página de Login</title>
        <link rel="stylesheet" href="https://unpkg.com/chota@latest">
        <style type="text/css">
            section{
                display: flex;
                margin: 0 auto;
                width: 50%;
                flex-direction: column;
                text-align: center;
        </style>
    </head>
    <body>
        <section>
            <h1> Bem vindo </h1>
            <a href="/login" class="button primary">Login</a>
        </section>
    </body>
</html>

