<!DOCTYPE html>
<html>
    <head>
        <title>Página de Login</title>
        <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <img src="/static/logo.png" class="col-12">
            </div>
            <div class="row">
            <div class="card col-12">
                <header>
                    <h1>Login </h1>
                </header>
                <form action="login" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="pwd" placeholder="pwd">
                    <footer class="is-right">
                        <input type="submit" value="Entrar">
                    </footer>
                </form>
            </div>
            </div>
        </div>
    </body>
</html>

